.aside-left .img-specialist{
    width: 100%;
    height: 750px;
  }
  
.form-content{
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
  
.form-specialist{
width:430px;
height:450px;
background-color:#ffffff;
margin:auto;
border-radius:5px;
display:flex;
flex-direction:column;
justify-content: space-around;  
}
  
.form-specialist h1{
  font-size: 30px;
  font-weight:300px;
  margin:18px 0 30px;
  text-align: center;
  color: #13132B;
}

.form-specialist h3{
  font-size: 22px;
  font-weight:300px;
  margin:15px 0 5px;
  color: #13132B;
}      
      
.form-specialist input{
  display: initial;
  border: none;
  font-size: 16px;
  padding: 3px;
  font-weight: 300;
  text-align:left;
  /* width: 120%; */
  margin: 8px 10px; 
  border-bottom: 2px solid #666;
  transition: 0.5s; 
}

.input-full{
  width: 100%;
}

.form-specialist .cel-tel,
.form-specialist .prof-reg,
.form-specialist .compl-bairro,
.form-specialist .city-uf{
  display: flex;
  justify-content: space-between;
}

.adress{
  margin-bottom: 15px;
}