
.container-home {
  display: flex;
  align-items: center;
}
.dashboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  border-radius: 10px;
  background-color: #F7F3F7;
  height: 70vh;
  width: 80vh;

}

