
.container-home {
  display: flex;
  align-items: center;
}
.dashboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  border-radius: 10px;
  background-color: #F7F3F7;
  height: 70vh;
  width: 80vh;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.5);

}

