
.container-home {
  display: flex;
  align-items: center;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-history-queue{
  width: 200px;
  height: 30px;
  font-size: 0.8rem;
  padding: 0;
  margin: 0 auto;
  border: none;
  border-radius: 100px;
  display: block;
}
.dashboard-and-navbar {
  display: flex;
}

