.form-medical-record-container{
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.form-medical-record input, 
.form-medical-record textarea {
  background-color: transparent;
}

.form-medical-record textarea {
  border-radius: 10px;
}

.form-medical-record{
  width: 100%;
  background-color: transparent;
  display:flex;
  flex-direction:column;
  justify-content: space-around; 
}    

.form-medical-record .date-time {
  margin: 0 5vh;
}
    
.date-time-medical-record {
  font-size: 16px;
  padding: 3px;
  text-align:left;
  margin: 8px 0; 
} 

.patient-name {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
.date-time{
  display: flex;
  justify-content: space-between;
}

.description{
  width: 90%; 
  height: 32vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
  margin: 0 auto;
}

.btn-medical-record {
    width: 200px;
    height: 30px;
    font-size: 0.9rem;
    padding: 0;
    border: none;
    border-radius: 100px;
    display: block;
    bottom: 15vh;
    margin: 20px auto;
}

.medical-record-material-icon {
  vertical-align: baseline;
}


.medical-record-not-selected{
  display: flex;
  height: 70%;
}

.medical-record-not-selected h3 {
  text-align: center;
  margin: auto;
  color: rgb(180, 179, 179);
}
