/* .aside-left .img-login{
  width: 800px;
  height: 750px;
} */

.container-login{
  width: 100vw;
  height: 92.9vh;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-content-login{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 350px;  
}

.form-login{
  width:500px;
  height:400px;
  background: #F7F3F7;
  /* margin:auto; */
  border-radius:5px;
  display:flex;
  flex-direction:column;
  justify-content: center;  
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.60);
}

.form-login h1{
  font-size: 30px;
  font-weight:300px;
  margin:18px 0;
  text-align: center;
  color: #13132B;
}
    
.form-login input{
  display: initial;
  border: none;
  font-size: 16px;
  padding: 8px;
  font-weight: 300;
  text-align:left;
  width: 85%;
  margin: 20px 30px;
  border-bottom: 2px solid lightgray;
  transition: 0.5s;
  background: #F7F3F7;
}

.btn-login{  
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  width: 40%;
  /* text-align:left; */
  transition: 0.5s;
  color: #ffffff;
  background: #13132B;
  font-size: 18px;
  font-weight: 300;
  border: none;
  margin: 15px auto;
}

.btn-login:hover{
  color: #13132B;
  background: #D40054;
  font-weight: 300;
}

