/* .patients {
  background-color: white;
  height: 85vh;
  margin-top: 6vh;
  width: 97.5%;
  color: gray;
} */

.tbody {
  overflow-y: scroll;
  max-height: 50vh;
}

.patients-table {
  width: 100%;
  margin-top: 1vh;
  border: 1vh solid #F7F3F7;
  border-radius: 5px;
}



