.row-title{
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 500;

}
.row-table {
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 0 auto;
  font-size: 0.9rem;
  padding-left: 5px;
  display: flex;
  align-items: center;
}

.row-table:hover {
  color: #D40054;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.icons {
  display: none;
}

.icon {
  margin-bottom: 8px;
}

.icon:active {
  position:relative;
  top:2px;
}

.row-table:hover .icons{
  display: block;
}

.btnSave{
  background-color: none;
  border: none;
}

.btnSave:hover{
  background-color: none;
}

.inputEdit, .select-edit{
  border: none;
  background:#f7f3f7;

}

.inputEdit:hover, .select-edit:hover{
  background: #ffffff;
}

#dateEdit{
  margin-left: 28px;
}

#timeEdit{
  margin-left: 16px;
  width: 66px;
}

.value-status-edit{
  margin-left: 3px;
  width: 14%;
}

.date-schedule-edit{
  margin-left: -14px;
  margin-right: 36px;
}

.search {
  background-color: #F6F6F6;
  border-bottom:1 px solid #EEE;
  padding: 5px 15px;
}

.search-input-receptionist {
  background-color: #FFF;
  height: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 5px 30px;
  width: 80%;
}

.search-input-receptionist input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: 10px;
}