.nav-cards{
  display: flex;
}

.container-home {
    display: flex;
    align-items: center;
  }
  .dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .column-receptionist {
    border-radius: 10px;
    background-color: #F7F3F7;
    height: 76vh;
    width: 70vh;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.60);
    margin: 0 auto;
  }
  .column-1{
    height: 60vh;
  }
  .column-2{
    height: 12vh;
    margin-bottom: 20px;
  }

  .column-body {
    overflow-y: scroll;
    height: 25vh;
    width: 100%;
    margin-right: 5px;
  }
  .column-body p {
    text-align: center;
    margin-top: 10px;
  }
  .patients-table {
    width: 100%;
    border-radius: 5px;
  }
  
  .btn-history-queue{
    width: 200px;
    height: 30px;
    font-size: 0.8rem;
    padding: 0;
    margin: 0 auto;
    border: none;
    border-radius: 100px;
    display: block;
  }
  .patient-details{
    display: flex;
  }
.header-receptionist{
  width: 100%;
}
.accordion-receptionist{
  border-radius: 10px;
  background-color: #F7F3F7;
}
.MuiPaper-root{
  background-color: #F7F3F7 !important;
  border-radius: 50px;
}
.MuiAccordion-rounded{
  border-radius: 10px !important;
  margin-bottom: 10px;
  /* border-top: 1px solid black; */
}
.receptionist-none-border div{
  border: none;
}
