.medical-records-container{
  width: 85%;
  padding: 10px 0;
  margin: 30px auto;
  min-height: 30vh;
  max-height: 48vh;
  box-sizing: border-box;
  overflow-y: scroll;
}
.medical-record-history-not-selected {
  display: flex;
  height: 70%;
}

.medical-record-history-not-selected h3{
  text-align: center;
  margin: auto;
  color:rgb(180, 179, 179);
}

.form-client-name {
  font-size: 1.4rem;
}