header {
  width: 20%;
  height: 12vh;
  background: #D40054;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 100%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

.header-logo{
  margin: 0 50px;
  width: 10vh;
  margin-left: 0;
}
.logo img{
  width: 145%;
}

.home-link{
  text-decoration: none;
  color: white;
}