.menu-lateral{
    background: #ffc0cb;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.60);
    height: 60vh;
    position: sticky;
    top: 20vh;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
}
.side-navbar-container {
    min-height: 95vh;
}

.menu-lateral div{
    color: #D40054;
    text-align: center;
    margin: 20px;
    padding: 15px;
    cursor: pointer;
}

.active-tab {
  border-right: 6px solid #d40054;
}


