.menu-lateral{
    background: pink;
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 110px;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.60);
}

.menu-lateral a{
    color: #D40054;
    text-align: center;
    margin: 20px;
    padding: 15px;
}

