*{    
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: white;
    width: 100%;
}

.hidden{
  display: none;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aside-left,
.aside-right{
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  padding: 15px 30px;
  width: 60%;
  /* text-align:left; */
  transition: 0.5s;
  color: #ffffff;
  background: #13132B;
  font-size: 20px;
  font-weight: 300;
  border: none;
  margin: 22px auto;
}

button:hover{
  color: #13132B;
  background: #D40054;
  font-weight: 300;
}
  
a{
    text-decoration:none;
}

.container{
  min-height: 85vh;
}

.column {
  border-radius: 10px;
  background-color: #F7F3F7;
  height: 70vh;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.60);
  margin: 40px auto;
  margin-top: 15vh;
}