.medical-records-history-container {
  height: 64vh;
}

.row-table-medical-record{
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 0 auto;
  border-radius: 5px;
}

.row-table-medical-record:hover {
  color: #D40054;
  background-color: white;
  cursor: pointer;
}

.row-table-medical-record:active {
  position:relative;
  top:1.5px;
}

.row-table-medical-record .td-medical-record{
  padding: 2vh;
  font-weight: bold;
}

.active {
  background-color: rgb(181, 245, 210);
}

.active:hover {
  background-color: rgb(155, 247, 196);
}

.medicalrecords-history-list-not-selected{
  display: flex;
  height: 70%;
}

.medicalrecords-history-list-not-selected h3 {
  text-align: center;
  margin: auto;
  color: rgb(180, 179, 179);
}

.search {
  background-color: #F6F6F6;
  border-bottom:1 px solid #EEE;
  padding: 5px 15px;
}

.search-input {
  background-color: #FFF;
  height: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 5px 0;
}

.search-input input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: 10px;
}