footer {
  width: 100%;
  height: 150px;
  background: #D40054;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
  padding: 30px;
}

footer .redesocial{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 5px;
}

.developed-by{
  text-align: center;  
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  padding: 5px;
  color: #CCCCCC;
}
