.headers {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  padding: 1vh;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.5);
  color: rgba(0,0,0, 0.6);
}

.headers h2 {
  margin: 0 auto;
  text-align: center;
}