.date-time-medical-records {
  font-size: 16px;
  padding: 3px;
  text-align:left;
  margin: 8px 0; 
} 

.medical-records-date-time{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.description-medical-records{
  width: 100%;
  margin: 0 auto; 
  padding: 5px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.medical-records-material-icon {
  vertical-align: baseline;
}
